In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [5]:
df =pd.read_csv('https://github.com/prasertcbs/basic-dataset/raw/master/msleep.csv')
df.head()

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt
0,Cheetah,Acinonyx,carni,Carnivora,lc,12.1,NaN,NaN,11.9,NaN,50.000
1,Owl monkey,Aotus,omni,Primates,NaN,17.0,1.8,NaN,7.0,0.01550,0.480
2,Mountain beaver,Aplodontia,herbi,Rodentia,nt,14.4,2.4,NaN,9.6,NaN,1.350
3,Greater short-tailed shrew,Blarina,omni,Soricomorpha,lc,14.9,2.3,0.133333,9.1,0.00029,0.019
4,Cow,Bos,herbi,Artiodactyla,domesticated,4.0,0.7,0.666667,20.0,0.42300,600.000

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83 entries, 0 to 82
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          83 non-null     object
 1   genus         83 non-null     object
 2   vore          76 non-null     object
 3   order         83 non-null     object
 4   conservation  54 non-null     object
 5   sleep_total   83 non-null     float64
 6   sleep_rem     61 non-null     float64
 7   sleep_cycle   32 non-null     float64
 8   awake         83 non-null     float64
 9   brainwt       56 non-null     float64
 10  bodywt        83 non-null     float64
dtypes: float64(6), object(5)
memory usage: 7.3+ KB

In [10]:
# missing value
df[df.vore.isnull()]

drop = df.dropna(subset=['vore'] , axis='index')

In [15]:
drop.head(10)

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt
0,Cheetah,Acinonyx,carni,Carnivora,lc,12.1,NaN,NaN,11.9,NaN,50.000
1,Owl monkey,Aotus,omni,Primates,NaN,17.0,1.8,NaN,7.0,0.01550,0.480
2,Mountain beaver,Aplodontia,herbi,Rodentia,nt,14.4,2.4,NaN,9.6,NaN,1.350
3,Greater short-tailed shrew,Blarina,omni,Soricomorpha,lc,14.9,2.3,0.133333,9.1,0.00029,0.019
4,Cow,Bos,herbi,Artiodactyla,domesticated,4.0,0.7,0.666667,20.0,0.42300,600.000
5,Three-toed sloth,Bradypus,herbi,Pilosa,NaN,14.4,2.2,0.766667,9.6,NaN,3.850
6,Northern fur seal,Callorhinus,carni,Carnivora,vu,8.7,1.4,0.383333,15.3,NaN,20.490
8,Dog,Canis,carni,Carnivora,domesticated,10.1,2.9,0.333333,13.9,0.07000,14.000
9,Roe deer,Capreolus,herbi,Artiodactyla,lc,3.0,NaN,NaN,21.0,0.09820,14.800
10,Goat,Capri,herbi,Artiodactyla,lc,5.3,0.6,NaN,18.7,0.11500,33.500

In [21]:
#Dummy value

dummies = pd.get_dummies(df['vore'])*1

In [22]:
dummies

    carni  herbi  insecti  omni
0       1      0        0     0
1       0      0        0     1
2       0      1        0     0
3       0      0        0     1
4       0      1        0     0
..    ...    ...      ...   ...
78      0      0        0     1
79      1      0        0     0
80      1      0        0     0
81      1      0        0     0
82      1      0        0     0

[83 rows x 4 columns]

In [30]:
#merge data 

dm = pd.concat([df,dummies] , axis=1)
dm.head()

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt,carni,herbi,insecti,omni
0,Cheetah,Acinonyx,carni,Carnivora,lc,12.1,NaN,NaN,11.9,NaN,50.000,1,0,0,0
1,Owl monkey,Aotus,omni,Primates,NaN,17.0,1.8,NaN,7.0,0.01550,0.480,0,0,0,1
2,Mountain beaver,Aplodontia,herbi,Rodentia,nt,14.4,2.4,NaN,9.6,NaN,1.350,0,1,0,0
3,Greater short-tailed shrew,Blarina,omni,Soricomorpha,lc,14.9,2.3,0.133333,9.1,0.00029,0.019,0,0,0,1
4,Cow,Bos,herbi,Artiodactyla,domesticated,4.0,0.7,0.666667,20.0,0.42300,600.000,0,1,0,0

In [25]:
# Sklearn linear

from sklearn.linear_model import LinearRegression

In [46]:
model = LinearRegression()

dt = dm[['vore','bodywt','carni','herbi','omni','insecti','sleep_total']].dropna(axis='index')
dt

     vore   bodywt  carni  herbi  omni  insecti  sleep_total
0   carni   50.000      1      0     0        0         12.1
1    omni    0.480      0      0     1        0         17.0
2   herbi    1.350      0      1     0        0         14.4
3    omni    0.019      0      0     1        0         14.9
4   herbi  600.000      0      1     0        0          4.0
..    ...      ...    ...    ...   ...      ...          ...
78   omni    0.104      0      0     1        0          8.9
79  carni  173.330      1      0     0        0          5.2
80  carni    2.000      1      0     0        0          6.3
81  carni    3.380      1      0     0        0         12.5
82  carni    4.230      1      0     0        0          9.8

[76 rows x 7 columns]

In [48]:
X = dt[['bodywt','herbi','omni','insecti']]
y = dt['sleep_total']

In [50]:
model.fit(X,y)

LinearRegression()

In [51]:
model.score(X,y)

0.16713760369976094

In [52]:
model.coef_

array([-1.62680477e-03, -4.20369040e-01,  4.19108004e-01,  4.43443922e+00])

In [53]:
model.intercept_

10.526581698987146

In [64]:
# Stat
import statsmodels.api as sm
import statsmodels.formula.api as smf

In [69]:
model_a = smf.ols(formula='sleep_total ~ + bodywt + C(vore)' , data=dt).fit()

In [70]:
print(model_a.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:            sleep_total   R-squared:                       0.167
Model:                            OLS   Adj. R-squared:                  0.120
Method:                 Least Squares   F-statistic:                     3.562
Date:                Thu, 04 Apr 2024   Prob (F-statistic):             0.0105
Time:                        15:49:25   Log-Likelihood:                -215.94
No. Observations:                  76   AIC:                             441.9
Df Residuals:                      71   BIC:                             453.5
Df Model:                           4
Covariance Type:            nonrobust
======================================================================================
                         coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------
Intercept             10.5266      0.986     10.677      0.000       8.561      12.492
C(vore)[T.herbi]      -0.4204      1.254     -0.335      0.738      -2.921       2.081
C(vore)[T.insecti]     4.4344      2.157      2.056      0.043       0.133       8.736
C(vore)[T.omni]        0.4191      1.375      0.305      0.761      -2.323       3.162
bodywt                -0.0016      0.001     -2.643      0.010      -0.003      -0.000
==============================================================================
Omnibus:                       10.538   Durbin-Watson:                   1.735
Prob(Omnibus):                  0.005   Jarque-Bera (JB):                3.310
Skew:                          -0.004   Prob(JB):                        0.191
Kurtosis:                       1.978   Cond. No.                     4.10e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 4.1e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

In [68]:
model_a.params

Intercept    10.526582
bodywt       -0.001627
insecti       4.434439
omni          0.419108
herbi        -0.420369
dtype: float64